@font-face {
  font-family: "SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
