<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start-layout</title>
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="main-box" id="app">
                <p class="title">Заметки</p>
                <p class="first">Введите заметку:</p>
                <input type="text" v-on:input="title = $event.target.value" v-model="message" v-on:keyup.enter="onClick">
                <div class="note">
                    <ul>
                        <li>
                            <span>{{title_test}} </span>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
    </div>

<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            title_test: '',
            message: ''
        },
        methods:{

        }
    })


</script>

    <style>
        .main-box{
            width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        .main-box p.title{
            margin-top: 60px;
            font-size: 22px;
        }
        .main-box input{
            outline: none;
            border: 1px solid #dedede;
            border-radius: 4px;
            padding-left: 8px;
            line-height: 28px;
        }
        .note{
            position: absolute;
            bottom: 260px;
            right: 260px;
            width: 400px;
            min-height: 400px;
            border: 1px solid #dedede;
            border-radius: 6px;
        }
        .note ul{
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
            margin-top: 12px;
            margin-left: 24px;
            text-align: left;
        }
        .note ul li{
            padding-top: 4px;
        }
    </style>

</body>
</html>
